<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookstoreapp2">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.bookstoreapp2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.bookstoreapp2.EditorActivity"
            android:label="@string/editor_activity_title_new_book"
            android:parentActivityName="com.example.android.bookstoreapp2.MainActivity"
            android:theme="@style/EditorTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookstoreapp2.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android.bookstoreapp2.Book"
            android:label="@string/label_book_details"
            android:parentActivityName="com.example.android.bookstoreapp2.MainActivity"
            android:theme="@style/EditorTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookstoreapp2.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BookProvider"
            android:authorities="com.example.android.bookstoreapp2"
            android:exported="false" />
    </application>
</manifest>